/*Slider Variables*/

$bg-color: #ffffff;
$slider-fill: #E74C3C;
$slider-fill-inset: darken(#E74C3C, 15%);
$pointer: #E74C3C;
$pointer-active: darken(#E74C3C, 15%);
$pointer-hover: lighten(#E74C3C, 10%);
